.wrap{width:min(calc(100% - var(--pad)*2),var(--max));margin:auto}
.section-head{display:grid;grid-template-columns:1fr .65fr;gap:8vw;align-items:end;margin-bottom:65px}
.section-head p{max-width:570px;margin-bottom:0}
